    .clients {
        & h2 {
            padding: 10px;
            text-align: center;
            font-weight: 800;
            text-transform: uppercase;
            color: $color-white;
        }

        &__logo {}
    }

    .line {
        margin: 0 auto;
        width: 60px;
        height: 2px;
        background-color: $color-blue;
    }