.footer {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 326px) {
            padding: 10px;
        }
    }

    & p {
        color: white;
        display: flex;
        align-items: center;

        @media (max-width: 376px) {
            display: none;
        }
    }
}
