.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;

    background-color: $bg-header-footer-color;

    & a {
        position: relative;
        padding: 10px 5px;

        &::after {
            content: "";
            position: absolute;
            background-color: $color-green;
            height: 1px;
            width: 0;
            left: 0;
            bottom: 5px;
            transition: all 0.3s ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        & img {
            padding: 21px 15px;
            background-color: $color-black;
        }
    }

    &__title {
        padding: 5px;
        color: $color-white;
        text-transform: capitalize;
        font-size: 27px;
        font-weight: 800;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 20px;

        & ul {
            display: flex;
            flex-direction: row;
        }

        & a {
            font-size: 15px;
            text-transform: uppercase;
            color: $color-white;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        padding: 30px;
        background-color: $color-black;
    }
}
