.news {
    &__title {
        font-size: 27px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        color: $color-blue;
    }

    &__body {
    }

    &__item {
    }
}
