.parallax {
    display: flex;
    flex-direction: column;
    justify-items: center;
    // position: relative;

    &--header {
        min-height: 400px;
        background: url(../img/header-parallax.jpeg) no-repeat center bottom;
        background-attachment: fixed;

        &__items {
            padding: 197px 0 145px;
        }

        &__title {
            font-size: 27px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 800;
            color: $color-white;
            margin: 0 0 44px;
        }
    }
}

main {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
