// FIXME i dont understand this how i need create this section

.rated {
    margin: 60px auto;
    max-width: 100%;

    & h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2rem;
        color: $color-blue;
        margin-bottom: 50px;
    }

    &__image {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}