.space {
    background-color: #f2f2f2;

    &__title {
        padding: 61px 0;

        font-size: 27px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        color: $color-blue;
    }

    &__columns {
        column-count: 3;
        column-gap: 30px;

        padding-bottom: 72px;
    }
}

.card {
    margin: 0 0 30px;
    background-color: #ffff;
    height: min-content;
    max-width: 100%;

    &__title {
        font-size: 18px;
        text-align: center;
        padding: 20px;
    }

    & img {
        max-width: 100%;
    }
}
