.space {
    background-color: #f2f2f2;

    &__title {
        padding: 61px 0;

        font-size: 27px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        color: $color-blue;

        & h2 {
            font-weight: 800;
        }
    }

    &__columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
    }
}

.card {
    background-color: #ffff;
    height: min-content;

    & img {
        max-width: 270px;
    }

    & p {
        text-align: center;
        padding: 22px 0;
    }
}